<%
from openedx.core.djangolib.js_utils import  js_escaped_string
%>
<%namespace name='static' file='static_content.html'/>
<% gtm_acct = static.get_value("GOOGLE_TAG_MANAGER_ACCOUNT", "") %>
% if gtm_acct:
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','${gtm_acct | n, js_escaped_string}');</script>
    <!-- End Google Tag Manager -->
% endif
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/tomorrow-night-blue.min.css" integrity="sha256-5Kr7SYiCX+8lWzO4pfBPyY98dxUXBObcdOw8tcuF/QY=" crossorigin="anonymous" />
